* {
margin:0;
padding:0
}

header,section,footer,aside,nav,article,figure {
display:block
}

body {
font-family:"Noto Serif",Georgia,serif;
font-size:1.125em;
line-height:1.75em;
color:#333;
letter-spacing:.025em;
background:#fdfdfd
}

h1,h2 {
margin-bottom:.5em
}

h1 {
font-size:1.5em;
line-height:1.2em
}

h2 {
font-size:1.125em
}

p {
margin-bottom:.5em
}

a {
color:#d04160;
text-decoration:none
}

a:hover {
text-decoration:underline
}

ul,ol {
margin-bottom:.5em
}

ul li ul,ul li ol,ol li ul,ol li ol {
margin:0
}

li {
margin:0 .75em
}

img {
width:100%;
height:auto;
object-fit:cover;
padding:1em 0
}

a img {
border:none
}

.group:after {
content:"";
display:table;
clear:both
}

.container {
width:50em;
margin:0 auto;
padding:0 5em;
text-align:center
}

.avatar {
width:10%;
height:auto
}

.intro {
width:75%;
margin:0 auto;
}

nav {
padding:1.5em 0;
border-top:1px solid #DCDCDC
}

nav li {
display:inline;
list-style:none
}

header {
padding:3em 0
}

time {
font-size:95%;
opacity:.5
}

article {
border-top:1px solid #DCDCDC;
margin:0 auto;
padding:2em 0
}

.card {
width:calc(96.5% / 2);
height:auto;
display:inline-block;
vertical-align:top
}
.card:hover {
background-color:#fffacd
}

.post {
text-align:left;
top:-1em
}

.share li {
display:inline;
list-style:none
}

footer {
border-top:1px solid #DCDCDC;
padding:2.5em 0;
font-size:90%
}

.hide {
display:none
}

table {
background-color:#fff;
width:100%;
border-collapse:collapse
}

thead {
background-color:#d04160;
color:#fdfdfd
}

th {
border-top:solid 1px lightgray;
padding:.5em;
text-align:left
}

td {
border-top:solid 1px lightgray;
border-right:solid 1px lightgray;
padding:.5em;
vertical-align:top
}

td:last-child {
border-bottom:solid 1px lightgray;
}

tr:nth-child(even) {
background-color:#eee
}

td:nth-child(even),th:nth-child(even) {
background-color:rgba(0,0,0,.04)
}

tbody tr:hover {
background-color:#fffacd
}

@media all and (min-width: 48em) and (max-width: 62em) {
body {
font-size:105%
}

.container {
width:80%;
margin:0 4%;
padding:3% 6%
}

.avatar {
width:12.5%;
height:auto
}

.intro {
width:auto
}

article {
width:100%
}
}

@media only screen and (max-width: 47.9999em) {
body {
font-size:110%
}

.container {
width:85%;
margin:0 3%;
padding:5%
}

.avatar {
width:15%;
height:auto
}

.intro {
width:auto
}

article {
width:100%
}

.share li {
display:block
}

.card {
width:calc(96.5% / 1);
height:auto;
display:block;
vertical-align:top
}

table,thead,tbody,th,td,tr {
display:block
}

th {
text-align:right
}

table {
position:relative
}

thead {
float:left;
white-space:nowrap
}

tbody {
overflow-x:auto;
overflow-y:hidden;
position:relative;
white-space:nowrap
}

tr {
display:inline-block;
vertical-align:top
}
}
