---
layout: compress
---

<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title | escape | remove: ':clap:' | strip }} - {{site.name | escape }}{% else %}{{ site.name | escape }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description | strip }}{% endif %}" />
<meta name="author" content="{{ site.name | escape }}" />
<link rel="alternate" type="application/atom+xml" title="RSS" href="{{ site.url }}/sitemap.xml" />
<link rel="stylesheet" type="text/css" href="{{ "/styles.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" />
<link rel="shortcut icon" type="image/x-icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}" />
<meta name="theme-color" content="#d04160" />
<!--[if lt IE 9]><script type="text/javascript" src="/html5.js"></script><![endif]-->
<script data-ad-client="ca-pub-7061227318022173" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div class="container">
<header>
<img class="avatar" src="/img/avatar.png" alt="Uwiechanshop" />
<p class="intro">Toko online <b><a href="/">{{ site.title }}</a></b> oleh Dwi Handayani (Uwie), untuk informasi dan pemesanan barang silahkan hubungi nomor <a href="https://api.whatsapp.com/send?phone=628176423812&text=Assalamualaykum%2C%20saya%20mau%20pesan%20...">08176423812</a>.</p>
</header>
{{ content }}
<footer>&copy; 2019-{{ site.time | date: "%Y" }} <a href="/">{{ site.title }}</a></footer>
</div>
</body>
</html>
