---
layout: default
---

<article class="post">
<h1>{{page.title}}</h1>
<time class="hide" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d-%m-%Y"}}</time>
{{content}}
</article>
<nav class="share">
<ul>
  <li>Bagikan ke:</li>
  <li><a><a href="hhttps://api.whatsapp.com/send?phone=&text={{ site.url }}{{ pageurl }}">Whatsapp</a></li>
  <li><a><a href="http://www.facebook.com/share.php?u={{ site.url }}{{ pageurl }}">Facebook</a></li>
  <li><a><a href="mailto:?&body={{ site.url }}{{ pageurl }}">Email</a></li>
  <li><a><a href="http://twitter.com/home?status={{ site.url }}{{ pageurl }}">Twitter</a></li>
</ul>
</nav>
