---
layout: default
---

<nav><ul><li><a href="/">Beranda</a></li><li><a href="mailto:ookrahmawan@mail.ru">Kontak</a></li></ul></nav>
<header>{% if page.link %}<h1><a href="{{ page.link }}">{{page.title}}</a> &rarr;</h1>{% else %}<h1>{{page.title}}</h1>{% endif %}</header>
<article class="post">
<h3 class="hide">{{page.title}}</h3><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d-%m-%Y"}}</time>
{{content}}
</article>
<nav class="nextprev"><ul><li>{% if page.previous.url %}<a href="{{ page.previous.url }}" title="{{page.previous.title}}">&laquo; Sebelumnya</a>{% else %}<s>&laquo; Sebelumnya</s>{% endif %}</li><li>{% if page.next.url %}<a href="{{ page.next.url }}" title="{{page.next.title}}">Selanjutnya &raquo;</a>{% else %}<s>Selanjutnya &raquo;</s>{% endif %}</li></ul></nav>
<footer>&copy; 2015-{{ site.time | date: "%Y" }} <a href="/">{{ site.title }}</a></footer>
